<!DOCTYPE html>
<html lang="ja" dir="ltr">
<html>
  <head>
  <!--meta_tagsを適用させる-->
  <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <!--フォントウェイサムのURL-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css"rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>
  <body>
  <%= javascript_include_tag 'demo_js' %>
  <header>
  <!--PC-->
  <div class="pc">
  <div class="headerTop">
    <%= link_to image_tag('logo.png',class:"logo"), '/' %>
    <p class="headerTitle">あなたのお部屋も心も綺麗に。</p>
    <div class="header-insta"><%= link_to image_tag('insta.png',class:"insta"), "https://www.instagram.com/gawasa2929/" %></div>
    <address class="headerContact"><span class="tell">072-432-2212</span><BR>受付時間0:00~23:59</address>
  </div>
    <nav class="header-menu">
    <ul class="menu">
    <!--フォントウェイサムでのURL化-->
      <li><%= link_to "/" do %>
        <i class="fas fa-home"></i> ホーム
      <% end %></li>
      <li><%= link_to "/service/service_page" do %>
        <i class="fas fa-caret-down"></i>サービス
      <% end %>
        <ul>
          <div class="sub">
          <li><%= link_to('ハウスクリーニング','#')%></li>
          <li><%= link_to('ビルクリーニング','#')%></li>
          <li><%= link_to('木部灰汁洗い','#')%></li>
          <li><%= link_to('エアコンクリーニング','#')%></li>
          </div>
        </ul>
      </li>
      <li><%= link_to('ご注文の流れ','/order/order_page')%></li>
      <li><%= link_to('お問い合わせ',new_contact_path)%></li>
      <li><%= link_to('会社概要','/overview/over_page')%></li>
      </ul>
      </nav>
    </div>
        <!--tablet-->
    <div class="tablet">
    <div class="headerTop">
    <%= link_to image_tag('logo.png',class:"logo"), '/' %>
    </div>
    <div class="navToggle">
    <span></span><span></span><span></span>
    </div>
    <nav class="tabletMenu">
      <ul>
      <li><%= link_to('ホーム',"/")%></li>
      <li><%= link_to('サービス',"/service/service_page")%></li>
      <li><%= link_to('ご注文の流れ','/order/order_page')%></li>
      <li><%= link_to('お問い合わせ',new_contact_path)%></li>
      <li><%= link_to('会社概要','/overview/over_page')%></li>
      </ul>
    </nav>
    </div>
    <div class="breadcrumb">

    <!--パンクズ呼び出し-->
    <%= render_breadcrumbs separator: '>'%>

    </div>
  </header>
  <% if flash[:notice] -%>
  <p><%= flash[:notice] %></p>
<% end -%>
    <%= yield %>
    </div>
    <footer>
      <div class="footer-body">
        <div class="footerTop">
          <div class="txtTop"><%= link_to image_tag('logomini.png',class:"logo"), '/' %></div>
          <p class="txtBottom">ー　あなたのお部屋も心も綺麗に　ー</p>
        </div>
        <address class="footerAddress">072-432-2212</address>
        <div class="footerList">
          <ul>
            <li><%= link_to('ホーム','/')%></li>
            <li><%= link_to('サービス','/service/service_page')%></li>
            <li><%= link_to('ご注文の流れ','/order/order_page')%></li>
            <li><%= link_to('お問い合わせ',new_contact_path)%></li>
            <li><%= link_to('会社概要','/overview/over_page')%></li>
          </ul>
        </div>
        <div class="instag">
        <%= link_to "https://www.instagram.com/gawasa2929/" do%>
          <i class="fab fa-instagram"></i>
          <% end %>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </body>
</html>
